/*  Propietary Style  */

body {
	font-size:13px;
}

/* Customize container */
@media (min-width: 1200px) {
  .container {
    max-width: 970px;
  }

}

@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }

}


#smartphone h5 {margin:0 0 15px 0;}

.option {border:1px solid #ccc;padding:20px;width:160px;}
.option:hover {background:#e7e7e7;}
.option.selected {background:#eeeeee;border:3px solid #ccc;}


.alert-danger h5 {font-weight:bold;margin:0 0 10px 0}
.alert-danger p {margin:0;font-weight:normal;}


.center {text-align:center;}
.panel-body.registrationSTP1 h4.registrationType {color:#999}
.panel-body.registrationSTP1 hr {border-top: 1px solid #ddd;}


.modal-dialog.login {max-width:400px;min-width:250px;}


.form-horizontal .control-label {
	text-align: right;
}

.form-horizontal .control-label, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
	padding-top: 6px;
	padding-right: 0px;
}

.input-group  {
	width:132px;
}

legend {
	font-size:14px;
	font-weight:bold;
	padding:10px 10px 0 10px;
	border-bottom:0px;
}

.control-label {
	font-weight:normal;
}

.dropdown-menu {
	margin-top:0px;border-radius: 2px;-webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.175);box-shadow: 0 4px 8px rgba(0, 0, 0, 0.175);padding-top:0px;padding-bottom:0px;border-top:0px;
}

.dropdown-menu > li > a {
	padding: 5px 40px 5px 10px;
}

.help-block {
	font-size:11px;
}

.panel {
	padding:10px;
	margin-bottom:5px;
	background:#f7f7f7;
}

.panel .form-control {
	font-size:13px;
}
.panel-body h4 {
	font-size:15px;
	font-weight:normal;
}

.panel-heading {
	margin: -5px -5px 5px;
	text-align:left;
	background:#3B5998;
	border-bottom:1px solid #133783;
	padding:20px 20px 20px 10px;
}

.panel-heading .form-group {
	margin-bottom:0px;
}

.breadcrumb {
	padding: 8px 0px;
	margin-bottom: 20px;
	list-style: none;
	background-color: #fff;
	border-radius: 0px;
}

.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: none;
}

.modal-header {
	background-color:#ffffff;border:0px;
}

.modal-header.answers {
	background-color:#eee;border:0px;
}

.modal-footer {
	background-color:#eeeeee;border:0px;
}

.typeahead,
.tt-query,
.tt-hint {
display: block;
width: 214px;
height: 34px;
padding: 6px 12px;
font-size: 13px;
line-height: 1.428571429;
color: #555555;
vertical-align: middle;
background-color: #ffffff;
border: 1px solid #cccccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 1px solid #0097cf;
}

.tt-dataset-countries h6 {padding:5px 10px;margin:0;font-size:11px;color:#999;background: #f7f7f7;}


.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
width: 214px;
padding: 8px 0;
background-color: #fff;
border: 1px solid #ccc;
border: 1px solid rgba(0, 0, 0, 0.2);
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
  -webkit-box-shadow: 0 4px 8px rgba(0,0,0,.2);
     -moz-box-shadow: 0 4px 8px rgba(0,0,0,.2);
          box-shadow: 0 4px 8px rgba(0,0,0,.2);
max-height: 200px;
overflow-y: auto;
min-height: 84px;

}

.tt-suggestion {
padding: 5px 10px 5px 10px;
  font-size: 13px;
  line-height: 23px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.terms {width:85%;margin:0 auto;font-size:11px;}
.terms p {margin-top:25px;text-align:center;}


.btnfix, .inputfix {width: 214px;}