<script type="text/javascript">
	$(document).ready(function() {
		$('.selectpicker').selectpicker();
		$("#city").autocomplete({
			source : function(request, response) {
				$.ajax({
					url : "http://ws.geonames.org/searchJSON?country=" + $('#Country').val(),
					dataType : "jsonp",
					data : {
						featureClass : "P",
						style : "full",
						maxRows : 12,
						name_startsWith : request.term
					},
					success : function(data) {
						response($.map(data.geonames, function(item) {
							return {
								label : (item.adminName1 ? item.adminName1 + " / "  : "") + item.name,
								value : (item.adminName1 ? item.adminName1 + " / "  : "") + item.name  
							};
						}));
					}
				});
			},
			minLength : 2,
			select : function(event, ui) {
				console.log(ui.item ? "Selected: " + ui.item.label : "Nothing selected, input was " + this.value);
				$("#city").val(this.value);
			},
			open : function() {
				$(this).removeClass("ui-corner-all").addClass("ui-corner-top");
			},
			close : function() {
				$(this).removeClass("ui-corner-top").addClass("ui-corner-all");
			}
		});
		
		$(".btn-success").click(function() {
			$.post("{tag:site_url}index.php", {
				controller : "register",
				action : "storeCity",
				country : $("#Country").val(),
				city : $("#city").val(),
				user_id : {tag:user_id}
			}, function(data) {
				if (data.error == 0) {
					window.location = "{tag:site_url}index.php?controller=main&action=main";
				} else {
					var content = "<h5>{tag:tl_Oops!_Encontramos_unos_errores}</h5>";
					for (var i = 0; i < data.errors.length; i++) {
						content += '<p><span class="glyphicon glyphicon-remove-sign">&nbsp;' + data.errors[i] + '</p>';
						$("#errors_box").show("slow");
					}
					$("#errors_box").html(content);
				}
			}, "json");
		});
	}); 
</script>
<div class="row">
	<div class="col-xs-7 col-sm-7 col-lg-7">
		<h1>{tag:tl_Un_paso_mas...}</h1>
		<h3>{tag:tl_Beneficios_de_ser_parte_de_latamis,_etc}</h3>
		<h3>{tag:tl_Esta_pagina_tambien_la_podemos_usar_de_Landing...}</h3>
	</div>
	<div class="col-xs-5 col-sm-5 col-lg-5">
		<div class="panel panel-default">
			<div class="panel-body">
				<form class="form-horizontal" role="form">
					<div class="alert alert-danger" id="errors_box"  style="display: none"></div>
					<div class="form-group">
						<label for="" class="col-xs-3 col-sm-3 col-lg-3 control-label">{tag:tl_Vivo_en...}</label>
						<div class="col-xs-9 col-sm-9 col-lg-9">
							<select id="Country" class="selectpicker" data-width="214px" name="Country">
								<option value="">{tag:tl_Selecciona_tu_pais}</option>
								{loop:countries}
								<option value="{tag:countries[].tld}">{tag:countries[].title}</option>
								{@loop:countries}
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="" class="col-xs-3 col-sm-3 col-lg-3 control-label">{tag:tl_Prov./Ciudad}</label>
						<div class="col-xs-9 col-sm-9 col-lg-9">
							<input class="typeahead" type="text" id="city" placeholder="Introduce tu ciudad o provincia">
							<p class="help-block">
								ej: Buenos Aires, Chacabuco
							</p>
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-xs-offset-3 col-sm-offset-3 col-lg-offset-3 col-xs-9 col-sm-9 col-lg-9">
							<a data-toggle="modal" href="#" class="btn btn-success btnfix">{tag:tl_Empezar_a_contestar}</a>
						</div>
					</div>
					<input type="hidden" id="user_id" value="{tag:user_id}">
					<div class="terms">
						<p>
							{tag:tl_Al_continuar_confirmas_que_has_leido_y_estas_de_acuerdo_con_las}<a data-toggle="modal" href="http://dev.pocahontas.latamis.com/Website-Bootstrap3RC2/registration-step2.html#terms">{tag:tl_Condiciones_de_Uso}</a>{tag:tl_,_la} <a data-toggle="modal" href="http://dev.pocahontas.latamis.com/Website-Bootstrap3RC2/registration-step2.html#privacy">{tag:tl_Politica_de_Privacidad}</a> {tag:tl_y_la} <a data-toggle="modal" href="http://dev.pocahontas.latamis.com/Website-Bootstrap3RC2/registration-step2.html#cookies">{tag:tl_Politica_sobre_Cookies}</a>
						</p>
					</div>
				</form>
			</div>
		</div>
	</div>

</div>
