<h1>Landing en construccion</h1>

<script type"text/javascript">
$.post("{tag:site_url}index.php",{controller: "register", action: "sendRegistrationEmail", user_id: {tag:user_id}},function(data){});
</script>	