<div id="fb-root"></div>
<script>
	window.fbAsyncInit = function() {
		FB.init({
			appId : '125014261002567', // App ID
			channelUrl : 'http://latamis.localhost.com/', // Channel File
			status : true, // check login status
			cookie : true, // enable cookies to allow the server to access the session
			xfbml : true // parse XFBML
		});
	};

	function FBLogin() {
		FB.login(function(response) {
			if (response.authResponse) {
				access_token = response.authResponse.accessToken;
				//get access token
				user_id = response.authResponse.userID;
				//get FB UID
				FB.api('/me', function(response) {
					$.post("{tag:site_url}", {
						controller : "register",
						action : "storeFBData",
						birthday : response.birthday,
						email : response.email,
						gender : response.gender
					}, function(data) {
						if( data.new_user == 1 ){
							window.location = "{tag:site_url}index.php?controller=register&action=fbLastStep&user_id=" + data.user_id;
						}else{
							window.location = "{tag:site_url}index.php?controller=main&action=main&user_id=" + data.user_id;
						}
					},"json");

				});
			} else {
				console.log('User cancelled login or did not fully authorize.');
			}
		}, {
			scope : "email, user_about_me, user_birthday"
		});
	}

	// Load the SDK asynchronously
	( function(d) {
			var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
			if (d.getElementById(id)) {
				return;
			}
			js = d.createElement('script');
			js.id = id;
			js.async = true;
			js.src = "//connect.facebook.net/en_US/all.js";
			ref.parentNode.insertBefore(js, ref);
		}(document));

	// Here we run a very simple test of the Graph API after login is successful.
	// This testAPI() function is only called in those cases.
	function testAPI() {
		console.log('Welcome!  Fetching your information.... ');
		FB.api('/me', function(response) {
			console.log('Good to see you, ' + response.name + '.');
		});
	}
</script>

<script type="text/javascript">
	$(document).ready(function() {
		$(".btn-success").click(function() {
			$.post("{tag:site_url}index.php", {
				controller : "register",
				action : "storeFirstStepData",
				user_name : $("#member_user_name").val(),
				email : $("#member_email").val(),
				password : $("#member_password").val()
			}, function(data) {
				if (data.error == 0)
					window.location = "{tag:site_url}index.php?controller=register&action=secondStep&member=" + data.id;
				else {
					var content = "<h5>{tag:tl_Oops!_Encontramos_unos_errores}</h5>";
					for (var i = 0; i < data.errors.length; i++) {
						content += '<p><span class="glyphicon glyphicon-remove-sign">&nbsp;' + data.errors[i] + '</p>';
						$("#errors_box").show("slow");
					}
					$("#errors_box").html(content);
				}
			}, "json");
		});
	}); 
</script>
<div class="row">
	<div class="col-xs-7 col-sm-7 col-lg-7">
		<h1>{tag:tl_Bienvenido}!!!! {tag:tl_Registrate}...</h1>
		<h3>{tag:tl_Beneficios_de_ser_parte_de_latamis,_etc}</h3>
		<h3>{tag:tl_Esta_pagina_tambien_la_podemos_usar_de_Landing...}</h3>
	</div>
	<div class="col-xs-5 col-sm-5 col-lg-5">
		<div class="panel panel-default">
			<div class="panel-body registrationSTP1">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<div class="col-xs-offset-3 col-sm-offset-3 col-lg-offset-3 col-xs-9 col-sm-9 col-lg-9"></div>
					</div>

					<div class="form-group">
						<div class="col-xs-offset-3 col-sm-offset-3 col-lg-offset-3 col-xs-9 col-sm-9 col-lg-9">
							<a href="#" class="btn btn-primary btnfix" onclick="FBLogin()">{tag:tl_Conectarte_con_Facebook}</a>

						</div>
					</div>
				</form>
				<div class="row">
					<div class="col-xs-5 col-sm-5 col-lg-5">
						<hr/>
					</div>
					<div class="col-xs-2 col-sm-2 col-lg-2 center">
						<h4 class="registrationType">&oacute;</h4>
					</div>
					<div class="col-xs-5 col-sm-5 col-lg-5">
						<hr/>
					</div>

				</div>

				<form class="form-horizontal" role="form">

					<div class="alert alert-danger" id="errors_box"  style="display: none">

					</div>

					<div class="form-group">
						<div class="col-xs-offset-3 col-sm-offset-3 col-lg-offset-3 col-xs-9 col-sm-9 col-lg-9">
							{tag:tl_Registrate_con_tu_correo_electronico}
						</div>
					</div>
					<div class="form-group">

						<label for="" class="col-xs-3 col-sm-3 col-lg-3 control-label">{tag:tl_Usuario}</label>
						<div class="col-xs-9 col-sm-9 col-lg-9">
							<input type="email" class="form-control inputfix" id="member_user_name" placeholder="Nombre de usuario">
						</div>
					</div>
					<div class="form-group has-error">
						<label for="" class="col-xs-3 col-sm-3 col-lg-3 control-label">{tag:tl_Email}</label>
						<div class="col-xs-9 col-sm-9 col-lg-9">
							<input type="email" class="form-control inputfix" id="member_email" placeholder="Ingresa un email">
						</div>
					</div>
					<div class="form-group has-error">
						<label for="" class="col-xs-3 col-sm-3 col-lg-3 control-label">{tag:tl_Clave}</label>
						<div class="col-xs-9 col-sm-9 col-lg-9">
							<input type="password" class="form-control inputfix" id="member_password" placeholder="Ingresa una clave">
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-offset-3 col-sm-offset-3 col-lg-offset-3 col-xs-9 col-sm-9 col-lg-9">
							<a href="#" class="btn btn-success btnfix">{tag:tl_Comenzar}</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

</div>
<script src="{tag:site_url}static/js/hogan-2.0.0.js"></script>
<script src="{tag:site_url}static/js/typeahead.js"></script>
<script src="{tag:site_url}static/js/example.js"></script>

<script type="text/javascript">$('.selectpicker').selectpicker();</script>

<script type="text/javascript">
	$(function() {
		$("#myTable").tablesorter({
			sortList : [[0, 0], [1, 0]]
		});
	}); 
</script>

<script type="text/javascript">
	$('#reportrange').daterangepicker({
		ranges : {
			'Today' : [moment(), moment()],
			'Yesterday' : [moment().subtract('days', 1), moment().subtract('days', 1)],
			'Last 7 Days' : [moment().subtract('days', 6), moment()],
			'Last 30 Days' : [moment().subtract('days', 29), moment()],
			'This Month' : [moment().startOf('month'), moment().endOf('month')],
			'Last Month' : [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
		}
	}, function(start, end) {
		$('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
	}); 
</script>
