<script type="text/javascript">
	$(document).ready(function() {

		$("#city").autocomplete({
			source : function(request, response) {
				$.ajax({
					url : "http://ws.geonames.org/searchJSON?country=" + $('#Country').val(),
					dataType : "jsonp",
					data : {
						featureClass : "P",
						style : "full",
						maxRows : 12,
						name_startsWith : request.term
					},
					success : function(data) {
						response($.map(data.geonames, function(item) {
							return {
								label : (item.adminName1 ? item.adminName1 + " / "  : "") + item.name,
								value : (item.adminName1 ? item.adminName1 + " / "  : "") + item.name  
							};
						}));
					}
				});
			},
			minLength : 2,
			select : function(event, ui) {
				console.log(ui.item ? "Selected: " + ui.item.label : "Nothing selected, input was " + this.value);
				$("#city").val(this.value);
			},
			open : function() {
				$(this).removeClass("ui-corner-all").addClass("ui-corner-top");
			},
			close : function() {
				$(this).removeClass("ui-corner-top").addClass("ui-corner-all");
			}
		});
		

		$(".btn-captcha").click(function() {
			$("#captcha_image").attr("src", "{tag:site_url}library/securimage/securimage_show.php");
		});

		$('input[name="Gender"]').each(function() {
			$(this).checked = false;
		});
		$(".btn-success").click(function() {
			$.post("{tag:site_url}index.php", {
				controller : "register",
				action : "storeSecondStepData",
				gender : $("input[name='Gender']:checked").val(),
				day : $("#BirthdayDay").val(),
				month : $("#BirthdayMonth").val(),
				year : $("#BirthdayYear").val(),
				country : $("#Country").val(),
				city : $("#city").val(),
				captcha : $("#captcha-value").val(),
				user_id : $("#user_id").val()
			}, function(data) {
				if (data.error == 0) {
					$('#smartphone').modal('show');
				} else {
					var content = "<h5>{tag:tl_Oops!_Encontramos_unos_errores}</h5>";
					for (var i = 0; i < data.errors.length; i++) {
						content += '<p><span class="glyphicon glyphicon-remove-sign">&nbsp;' + data.errors[i] + '</p>';
						$("#errors_box").show("slow");
					}
					$("#errors_box").html(content);
				}
			}, "json");
		});
	}); 
</script>
<div class="row">
	<div class="col-xs-7 col-sm-7 col-lg-7">
		<h1>{tag:tl_Un_paso_mas...}</h1>
		<h3>{tag:tl_Beneficios_de_ser_parte_de_latamis,_etc}</h3>
		<h3>{tag:tl_Esta_pagina_tambien_la_podemos_usar_de_Landing...}</h3>
	</div>
	<div class="col-xs-5 col-sm-5 col-lg-5">
		<div class="panel panel-default">
			<div class="panel-body">
				<form class="form-horizontal" role="form">
					<div class="alert alert-danger" id="errors_box"  style="display: none"></div>
					<div class="form-group">
						<label for="inputEmail1" class="col-xs-3 col-sm-3 col-lg-3 control-label">{tag:tl_Sexo}</label>
						<div class="col-xs-9 col-sm-9 col-lg-9">
							<label class="radio-inline">
								<input type="radio" name="Gender" value="1">
								{tag:tl_Masculino} </label>
							<label class="radio-inline">
								<input type="radio" name="Gender" value="2">
								{tag:tl_Femenino} </label>
						</div>
					</div>
					<div class="form-group has-error">
						<label for="" class="col-xs-3 col-sm-3 col-lg-3 control-label">Nac&iacute; el</label>
						<div class="col-xs-9 col-sm-9 col-lg-9">
							<select id="BirthdayDay" class="selectpicker" data-width="58px" name="BirthdayDay" >
								<option value="">{tag:tl_Dia}</option>
								<option value="1">01</option>
								<option value="2">02</option>
								<option value="3">03</option>
								<option value="4">04</option>
								<option value="5">05</option>
								<option value="6">06</option>
								<option value="7">07</option>
								<option value="8">08</option>
								<option value="9">09</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
								<option value="16">16</option>
								<option value="17">17</option>
								<option value="18">18</option>
								<option value="19">19</option>
								<option value="20">20</option>
								<option value="21">21</option>
								<option value="22">22</option>
								<option value="23">23</option>
								<option value="24">24</option>
								<option value="25">25</option>
								<option value="26">26</option>
								<option value="27">27</option>
								<option value="28">28</option>
								<option value="29">29</option>
								<option value="30">30</option>
								<option value="31">31</option>
							</select>
							<select id="BirthdayMonth" class="selectpicker" data-width="82px" name="BirthdayMonth">
								<option value="">{tag:tl_Mes}</option>
								<option value="1">{tag:tl_Enero}</option>
								<option value="2">{tag:tl_Febrero}</option>
								<option value="3">{tag:tl_Marzo}</option>
								<option value="4">{tag:tl_Abril}</option>
								<option value="5">{tag:tl_Mayo}</option>
								<option value="6">{tag:tl_Junio}</option>
								<option value="7">{tag:tl_Julio}</option>
								<option value="8">{tag:tl_Agosto}</option>
								<option value="9">{tag:tl_Septiembre}</option>
								<option value="10">{tag:tl_Octubre}</option>
								<option value="11">{tag:tl_Noviembre}</option>
								<option value="12">{tag:tl_Diciembre}</option>
							</select>
							<select id="BirthdayYear" class="selectpicker" data-width="66px" name="BirthdayYear">
								<option value="">{tag:tl_Anio}</option>
								{loop:years}
								<option value="{tag:years[]}">{tag:years[]}</option>
								{@loop:years}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-xs-3 col-sm-3 col-lg-3 control-label">{tag:tl_Vivo_en...}</label>
						<div class="col-xs-9 col-sm-9 col-lg-9">
							<select id="Country" class="selectpicker" data-width="214px" name="Country">
								<option value="">{tag:tl_Selecciona_tu_pais}</option>
								{loop:countries}
								<option value="{tag:countries[].tld}">{tag:countries[].title}</option>
								{@loop:countries}
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="" class="col-xs-3 col-sm-3 col-lg-3 control-label">{tag:tl_Prov./Ciudad}</label>
						<div class="col-xs-9 col-sm-9 col-lg-9">
							<input class="typeahead" type="text" id="city" placeholder="Introduce tu ciudad o provincia">
							<p class="help-block">
								ej: Buenos Aires, Chacabuco
							</p>
						</div>
					</div>

					<div class="form-group">
						<label for="" class="col-xs-3 col-sm-3 col-lg-3 control-label">{tag:tl_Verificacion}</label>
						<div class="col-xs-9 col-sm-9 col-lg-9">
							<img id="captcha_image" src="{tag:site_url}library/securimage/securimage_show.php" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-xs-offset-3 col-sm-offset-3 col-lg-offset-3 col-xs-9 col-sm-9 col-lg-9">
							<div class="input-group input-recaptcha" id="input-recaptcha">
								<input type="text" class="form-control " id="captcha-value">
								<span class="input-group-btn ">
									<button class="btn btn-default btn-captcha" type="button">
										<span class="glyphicon glyphicon-refresh"></span>
									</button> </span>
							</div><!-- /input-group -->

						</div>

					</div>

					<div class="form-group">
						<div class="col-xs-offset-3 col-sm-offset-3 col-lg-offset-3 col-xs-9 col-sm-9 col-lg-9">
							<a data-toggle="modal" href="#" class="btn btn-success btnfix">{tag:tl_Empezar_a_contestar}</a>
						</div>
					</div>
					<input type="hidden" id="user_id" value="{tag:user_id}">
					<div class="terms">
						<p>
							{tag:tl_Al_continuar_confirmas_que_has_leido_y_estas_de_acuerdo_con_las}<a data-toggle="modal" href="http://dev.pocahontas.latamis.com/Website-Bootstrap3RC2/registration-step2.html#terms">{tag:tl_Condiciones_de_Uso}</a>{tag:tl_,_la} <a data-toggle="modal" href="http://dev.pocahontas.latamis.com/Website-Bootstrap3RC2/registration-step2.html#privacy">{tag:tl_Politica_de_Privacidad}</a> {tag:tl_y_la} <a data-toggle="modal" href="http://dev.pocahontas.latamis.com/Website-Bootstrap3RC2/registration-step2.html#cookies">{tag:tl_Politica_sobre_Cookies}</a>
						</p>
					</div>
				</form>
			</div>
		</div>
	</div>

</div>

<!-- Modal Smartphone st1-->
<div class="modal fade" id="smartphone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header answers">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4>{tag:tl_Una_pregunta_mas} :)</h4>
			</div>
			<div class="modal-body">
				<h5><strong>{tag:tl_Desde_que_tipo_de_dispositivos_te_gustaria_participar_en_encuestas?}</strong></h5>
				<p class="text-muted">
					Selecciona las opciones que consideres necesarias
				</p>
				<div class="row">
					<div class="col-lg-4">
						<p class="center">
							<a href="#"><img src="{tag:site_url}static/img/smart.png" alt="..." class="img-rounded option img-device-selector" rel="Smartphone"></a>
						</p>
						<p class="center">
							{tag:tl_Smartphone}
						</p>

					</div>
					<div class="col-lg-4 ">
						<p class="center">
							<a href="#"><img src="{tag:site_url}static/img/tablet.png" alt="..." class="img-rounded option img-device-selector" rel="Tablet"></a>
						</p>
						<p class="center">
							{tag:tl_Tablet}
						</p>
					</div>
					<div class="col-lg-4">
						<p class="center">
							<a href="#"><img src="{tag:site_url}static/img/desktop.png" alt="..." class="img-rounded option img-device-selector" rel="Desktop"></a>
						</p>
						<p class="center">
							{tag:tl_Desktop}
						</p>

					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="row">

					<div class="col-lg-12 center">
						<a href="#" class="btn btn-primary btn-first-Modal">{tag:tl_Siguiente} <span class="glyphicon glyphicon-chevron-right"></span> </a>
					</div>
				</div>

			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal 1 javascript -->
<script type="text/javascript">
	$(".img-device-selector").click(function() {
		$(".img-device-selector").removeClass("selected");
		$(this).addClass("selected");
	});

	$(".btn-first-Modal").click(function() {
		var items = $(".img-device-selector");
		var selected = undefined;
		$.each(items, function(index, value) {
			if ($(items[index]).hasClass("selected")) {
				$.post("{tag:site_url}index.php", {
					device : $(items[index]).attr("rel"),
					user_id : $("#user_id").val(),
					controller : "register",
					action : "storeDeviceData"
				}, function(data) {
					$('#smartphone').modal('hide');
					$("#smartphone-st2").modal("show");
				});
				return true;
			}
		});
	});
	//
</script>

<!-- Modal Smartphone st2-->
<div class="modal fade" id="smartphone-st2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header answers">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4>{tag:tl_Una_pregunta_mas} :)</h4>
			</div>
			<div class="modal-body">

				<h5><strong>{tag:tl_Te_gustaria_recibir_encuestas_a_tu_Smartphone?}</strong></h5>
				<p class="text-muted">
					{tag:tl_Selecciona_una_sola_opcion}
				</p>
				<div class="row">
					<div class="col-lg-2"></div>
					<div class="col-lg-4">
						<p class="center">
							<a href="#"><img src="{tag:site_url}static/img/yes.png" alt="..." class="img-rounded option second-modal-reponse" rel="1"></a>
						</p>
						<p class="center">
							Si
						</p>
					</div>
					<div class="col-lg-4">
						<p class="center">
							<a href="#"><img src="{tag:site_url}static/img/no.png" alt="..." class="img-rounded option second-modal-reponse" rel="0"></a>
						</p>
						<p class="center">
							No
						</p>

					</div>
					<div class="col-lg-2"></div>
				</div>

			</div>

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal 2 javascript -->
<script type="text/javascript">
	$(".second-modal-reponse").click(function() {
		$.post("{tag:site_url}index.php", {
			receive : $(this).attr("rel"),
			user_id : $("#user_id").val(),
			controller : "register",
			action : "lastStep"
		}, function(data) {
			window.location = "{tag:site_url}index.php?controller=register&action=registerLanding&user_id=" + $("#user_id").val();
		});
	}); 
</script>

<div class="modal fade" id="terms" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h4 class="modal-title">{tag:tl_Condiciones_de_uso}</h4>
			</div>
			<div class="modal-body">
				<form role="form">
					<select size="15" id="" name="location" class="form-control">
						{tag:tl_Contenido_Condiciones_de_uso}Texto
					</select>
				</form>
			</div>
			<div class="modal-footer">

				<button type="button" class="btn btn-primary">
					{tag:tl_Acepto}
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="privacy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h4 class="modal-title">{tag:tl_Politica_de_Privacidad}</h4>
			</div>
			<div class="modal-body">
				<form role="form">
					<select size="15" id="" name="location" class="form-control">
						{tag:tl_Contenido_Politica_privacidad}
					</select>
				</form>
			</div>
			<div class="modal-footer">

				<button type="button" class="btn btn-primary">
					{tag:tl_Acepto}
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="cookies" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h4 class="modal-title">{tag:tl_Politica_de_Cookies}</h4>
			</div>
			<div class="modal-body">
				<form role="form">
					<select size="15" id="" name="location" class="form-control">
						{tag:tl_Contenido_Politica_cookies}
					</select>
				</form>
			</div>
			<div class="modal-footer">

				<button type="button" class="btn btn-primary">
					{tag:tl_Acepto}
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="{tag:site_url}static/js/hogan-2.0.0.js"></script>
<script src="{tag:site_url}static/js/example.js"></script>

<script type="text/javascript">$('.selectpicker').selectpicker();</script>

<script type="text/javascript">
	$(function() {
		$("#myTable").tablesorter({
			sortList : [[0, 0], [1, 0]]
		});
	}); 
</script>

<script type="text/javascript">
	$('#reportrange').daterangepicker({
		ranges : {
			'Today' : [moment(), moment()],
			'Yesterday' : [moment().subtract('days', 1), moment().subtract('days', 1)],
			'Last 7 Days' : [moment().subtract('days', 6), moment()],
			'Last 30 Days' : [moment().subtract('days', 29), moment()],
			'This Month' : [moment().startOf('month'), moment().endOf('month')],
			'Last Month' : [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
		}
	}, function(start, end) {
		$('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
	}); 
</script>